<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/dc96d0a0-bb83-4f23-b0dc-15cd2bd58791/resourceGroups/tb-container-group/providers/Microsoft.ContainerRegistry/registries/tbcontainerregistry20230706</ResourceId>
    <ResourceName>tbcontainerregistry20230706</ResourceName>
    <ResourceGroup>tb-container-group</ResourceGroup>
    <Subscription>Mike Neal Dev Resources</Subscription>
    <RegistryUrl>tbcontainerregistry20230706.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>cf0ab3b8-793c-4881-aec3-b40554031583</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>